:root {
  --lettersC: #e7ceaf;
  --bckGrnd: #212121;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background: var(--bckGrnd);
  color: var(--lettersC);
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.container_qr {
  display: flex;
  padding: 0.8em;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  border: 0.5em double #000;
  border-radius: clamp(0.3em, 0.5em, 0.6em);
}

.qr_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6em;
  height: 6em;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
}

.form {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  padding: 1em;
  gap: 0.5em;
  text-align: center;
}

.form input,
.form button {
  margin-bottom: 0;
}

.container input {
  border: 1px solid var(--lettersC);
  border-radius: 0.3em;
  outline: none;
  padding: 1em;
  background-color: var(--bckGrnd);
  color: var(--lettersC);
}

.btn {
  background-color: var(--bckGrnd);
  color: var(--lettersC);
  border: 1px solid var(--lettersC);
  width: 100%;
  margin: 1em auto;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.3em;
}

.btn:active {
  padding: 0.6em;
  color: azure;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--lettersC);
  color: var(--bckGrnd);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
  width: 100%;
  color: wheat;
  padding: 1em;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: clamp(0.8em, 1vw, 1em);
}

footer a {
  text-decoration: none;
  color: #da4439;
}

footer a:hover {
  color: var(--lettersC);
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
  }

  .container_qr {
    padding: 0.5em;
  }

  .qr_logo {
    width: 4em;
    height: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
